In [1]:
import numpy as np

# 1. DataTypes & Attribute

In [2]:
# Numpy's main datatype is ndarray
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [6]:
a2 = np.array([[1,2,3]
              ,[3,5,3]])
a3 = np.array([[[1,2,3],[4,5,6],[3,2,1]]
              ,[[3,2,4],[5,2,6],[8,9,0]]])
a3

array([[[1, 2, 3],
        [4, 5, 6],
        [3, 2, 1]],

       [[3, 2, 4],
        [5, 2, 6],
        [8, 9, 0]]])

![](numpy-anatomy.png)

### Atributes associated with ndarray

In [10]:
a3.shape

(2, 3, 3)

In [12]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [13]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('int32'), dtype('int32'))

In [14]:
a1.size, a2.size, a3.size

(3, 6, 18)

### Create DataFrame from numpy

In [17]:
import pandas as pd
df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  3  5  3

# 2. Creating Numpy arrays

In [18]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [19]:
sample_array.dtype

dtype('int32')

In [20]:
ones = np.ones((2, 3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [21]:
ones.dtype

dtype('float64')

In [22]:
type(ones)

numpy.ndarray

In [23]:
zeros = np.zeros((2, 3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [24]:
range_arraay = np.arange(0,10,2)
range_arraay

array([0, 2, 4, 6, 8])

In [25]:
random_array = np.random.randint(0, 10, size=(3,3))
random_array

array([[1, 1, 3],
       [5, 8, 9]])